#sansgasterfloat{
  height: 220px;
  width: 400px;
}

body {
  background-color: black; 
}

p{
  color: white;
  background-color: black;
}

h5{
  color: white;
}

h1{
  color: white;
  background-color: black;
}

li{
  color: white;
}
