#sansgasterfloat{
  border: solid 15px dark blue;
  height: 220px;
  width: 400px;
} 

body{
  color: blue;
}


p3{
  color: white;
  background-color: black;
}



h1{
  color: white;
  background-color: black;
}


