#sansgasterfloat{
  height: 220px;
  width: 400px;
} 



p3{
  color: white;
  background-color: black;
  border: solid 15px dark blue;
} 

body{
  background-image: url(https://wallpapercave.com/wp/wp2788060.png);
}

supermanman{
  Display: flex;
  justify-content: flex-end;
  height: 220px;
  width: 400px;
  border: solid 15px  lightblue;
  
}

batmanman{
  height: 220px;
  width: 400px; 
}




h1{
  color: white;
  background-color: black;
  border: solid 15px dark blue;
}


